{% extends 'base.html' %}
{% block content %}
<form method="post" class="formm">
    <h3>Mind Meld</h3>
    <legend>Enter the chat room</legend>
    <div>
        <label>Name:</label>
        <input type="text" placeholder="Navadeep" name="name" value="{{name}}" />
    </div>
    <div class="join">
        <input type="text" placeholder="XXXX" name="code" value="{{code}}" />
        <button type="submit" name="join">Join a room</button>
    </div>
    <button type="submit" name="create" class="create">Create a room</button>
    {% if error %}
    <ul>
        <li>{{error}}</li>
    </ul>
    {% endif %}
</form>
{% endblock %}