{% extends 'base.html' %}
{% block content %}
<div class="message-box">
    <h2>Room Code: <span class="room-code">{{code}}</span></h2>
    <div class="messages" id="messages"></div>
    <div class="inputs">
        <input type="text" placeholder="Type a message..." name="message" id="message" />
        <button type="button" name="send" id="send-btn" onClick="sendMsg()">Send</button>
    </div>
</div>
<script type="text/javascript">
    var socketio = io();
    const messages = document.getElementById("messages");

    const createMessage = (name, msg) => {
        const content = `
        <div class="text">
            <span><strong>${name}</strong>: ${msg}</span>
            <span class="muted">${new Date().toLocaleString()}</span>
        </div>`;
        messages.innerHTML += content;
        messages.scrollTop = messages.scrollHeight;
    };

    socketio.on("message", (data) => {
        createMessage(data.name, data.message);
    });

    const sendMsg = () => {
        const msg = document.getElementById("message");
        if (msg.value == "") return;
        socketio.emit("message", { data: msg.value });
        msg.value = "";
    };

    document.getElementById("message").addEventListener("keypress", function (e) {
        if (e.key === "Enter") sendMsg();
    });
</script>
{% endblock %}